[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"py2neo" = "*"
"neo4j" = "*"
flask-cors = "*"
elasticsearch = "*"
flask-caching = "*"

[dev-packages]

[requires]
python_version = "3.7"
